 {% extends 'base_layout.html' %}

{% block content %}
	<div class="container">
		<br/>
		<div class="d-flex justify-content-center">
			<div class="text-center">
				<h2 class="pb-2 mb-4 font-italic border-bottom">Login</h2>
			    <form class="site-form" action="{% url 'accounts:login'%}" method="post">
				    {% csrf_token %}
					{{ form.as_p }}
					{% if request.GET.next %}
						<input type="hidden" name="next" value="{{ request.GET.next }}">
					{% endif %}
					<br/>
				<input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
				<br/>
			</div>
		</div>
	</div>
{% endblock %}