 {% extends 'base_layout.html' %}

{% block content %}
	<div class="container">
		<br/>
		<div class="d-flex justify-content-center">
			<div class="text-center">
				<h2 class="pb-2 mb-4 font-italic border-bottom">Signup</h2>
				<form class="site-form" action="{% url 'accounts:signup'%}" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<br/>
					<input class="btn btn-lg btn-primary btn-block" type="submit" value="Signup">
				</form>
				<br/>
			</div>
		</div>
	</div>
{% endblock %}