 {% extends 'base_layout.html' %}

<meta charset="UTF-8">
{% block content %}
	<br/>
	<div class="row">
		<div class="col-md-8 blog-main">
		
			{% if article.thumb %}
				<div>
					<img class="img-fluid" width="500" height="500" src="{{ article.thumb.url }}"/>
				</div>
			{% endif %}
			<br/>					
			<div id="div_categorias">
				{% for category in article.categories.all %}
				<a class='' href="{% url 'categories:detail' slug=category.slug %}">
					<span class="badge badge-secondary"><h6>{{ category.title }}</h6></span>
				</a>
				{% endfor %}
			</div>
			<br/>	
			<div class="text-center">
				<h2 class="pb-2 mb-4 font-italic border-bottom">{{ article.title }}</h2>
			</div>
			<div class="blog-post">
			
				<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
				<p>
					{% autoescape off %}{{ article.body }}{% endautoescape %}
				<p>
				
				<p>Leia a íntegra em: <a href='{{ article.link }}'>{{ article.link }}</a>
			</div>
		
		</div>
	</div>
	<br/>
{% endblock %}