{% extends 'base_layout.html' %}

<meta charset="UTF-8">
{% block content %}
	<div class="container">
		<br/>
		<h2 class="pb-2 mb-4 font-italic border-bottom">Últimas notícias</h2>
			<div id="jar">
				{% for article in articles %}
					<div class="row content"> 	
						<div class="col-md-8">
							<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
								<div class="col p-4 d-flex flex-column position-static">
									<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a> </h3>
									<!--  <p> {{article.snippet}} </p> -->
									<p> {% autoescape off %}{{article.snippet}}{% endautoescape %}  </p>
		
									<!--  <p class="author"> added by {{ article.author.username }} - {{article.date}} </p> -->
									<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
									<div class="u-floatLeft">
										<a href="{% url 'articles:detail' slug=article.slug %}" class="readMoreLink primaryColor metaFont"> Leia mais ></a>
									</div>
								</div>
												
								{% if article.thumb %}
									<div>
										<img class="img-fluid" width="250" height="250" src="{{ article.thumb }}"/>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
				
			</div>
			<div class="pagination"></div>
			<br>
		</div>
		
{% endblock %}