 {% extends 'base_layout.html' %}


<meta charset="UTF-8">

{% block content %}
	<div class="container-fluid">
		<div class="row">
	
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky" id="sidebar-category">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0)" onClick="posts()"> Postagens </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0)" onClick="myCanvas2({{ labels_category_timeline }}, {{ data_category_timeline }})"> Timeline </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0)" onClick="myCanvas3({{ labels_category_relation }}, {{ data_category_relation }})">Relacionamentos </a>
						</li> 		
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0)" onClick="myCanvas4({{ labels_category_sites }}, {{ data_category_sites }})">Fontes</a>
						</li> 
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0)" onClick="myCanvas5({{ labels_region }}, {{ data_region }})">Regiões</a>
						</li> 
						<!--  
						<li class="nav-item">
							<a class="nav-link" href="#" onClick="myCanvas_wordcloud({{ word_cloud }})">Wordcloud</a>
						</li> 
						-->
					</ul>
				</div>
			
			</nav>
		
			<div class="col-md-8 blog-main">
				<div class="text-center">
					<h2 class="pb-2 mb-4 font-italic border-bottom">{{ titulo }}</h2>
				</div>
				<div id="articlesList" > 	
					<div id="jar">
					{% for article in articles %}
							<div class="col-md-12 content">
								<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
									<div class="col p-4 d-flex flex-column position-static">
										<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a> </h3>
										<!--  <p> {{article.snippet}} </p> -->
										<p> {% autoescape off %}{{article.snippet}}{% endautoescape %}  </p>
										<!--  <p class="author"> added by {{ article.author.username }} - {{article.date}} </p> -->
										<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
										<!-- <a href="{% url 'articles:detail' slug=article.slug %}" class="stretched-link"> Leia mais ></a> -->
										<div class="u-floatLeft">
											<a href="{% url 'articles:detail' slug=article.slug %}" class="readMoreLink primaryColor metaFont"> Leia mais ></a>
										</div>
									</div>
													
									{% if article.thumb %}
										<div>
											<img class="img-fluid" width="250" height="250" src="{{ article.thumb.url }}"/>
										</div>
									{% endif %}
								</div>
							</div>
					{% endfor %}
					</div>
					<div class="pagination"></div>
					
				</div>
				
				<div id="chartContainer"></div>
				
				<div id="postsRegion" class="container mt-3" style="display: none;">
				<br>
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#norte">Norte</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#nordeste">Nordeste</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#centro-oeste">Centro-Oeste</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#sudeste">Sudeste</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#sul">Sul</a>
				    </li>
				  </ul>
				  
				  <!-- Tab panes -->
				  <div class="tab-content">
				    <!-- Norte -->
				    <div id="norte" class="container tab-pane active"><br>
				    {% if norte %}
				      {% for article in norte %}
						<div class="row content"> 	
							<div class="col-md-8">
								<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
									<div class="col p-4 d-flex flex-column position-static">
										<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a> </h3>
										<p> {% autoescape off %}{{article.snippet}}{% endautoescape %}  </p>			
										<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
										<div class="u-floatLeft">
											<a href="{% url 'articles:detail' slug=article.slug %}" class="readMoreLink primaryColor metaFont"> Leia mais ></a>
										</div>
									</div>
													
									{% if article.thumb %}
										<div>
											<img class="img-fluid" width="250" height="250" src="{{ article.thumb }}"/>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
					
					{% else %}
					  <p> Nenhuma notícia relacionada a esta região.</p>
					{% endif %}
				    </div>
				    
				    <!-- Nordeste -->
				    <div id="nordeste" class="container tab-pane fade"><br>
				    {% if nordeste %}
				      {% for article in nordeste %}
						<div class="row content"> 	
							<div class="col-md-8">
								<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
									<div class="col p-4 d-flex flex-column position-static">
										<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a> </h3>
										<p> {% autoescape off %}{{article.snippet}}{% endautoescape %}  </p>			
										<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
										<div class="u-floatLeft">
											<a href="{% url 'articles:detail' slug=article.slug %}" class="readMoreLink primaryColor metaFont"> Leia mais ></a>
										</div>
									</div>
													
									{% if article.thumb %}
										<div>
											<img class="img-fluid" width="250" height="250" src="{{ article.thumb }}"/>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
						
						{% else %}
						  <p> Nenhuma notícia relacionada a esta região.</p>
						{% endif %}
				    </div>
				    
				    <!-- Centro-Oeste -->
				    <div id="centro-oeste" class="container tab-pane fade"><br>
				    {% if centro_oeste %}
				      {% for article in centro_oeste %}
						<div class="row content"> 	
							<div class="col-md-8">
								<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
									<div class="col p-4 d-flex flex-column position-static">
										<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a> </h3>
										<p> {% autoescape off %}{{article.snippet}}{% endautoescape %}  </p>			
										<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
										<div class="u-floatLeft">
											<a href="{% url 'articles:detail' slug=article.slug %}" class="readMoreLink primaryColor metaFont"> Leia mais ></a>
										</div>
									</div>
													
									{% if article.thumb %}
										<div>
											<img class="img-fluid" width="250" height="250" src="{{ article.thumb }}"/>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
						
						{% else %}
						  <p> Nenhuma notícia relacionada a esta região.</p>
						{% endif %}
				    </div>
				    
				    <!-- Sudeste -->
				    <div id="sudeste" class="container tab-pane fade"><br>
				    {% if sudeste %}
				      {% for article in sudeste %}
						<div class="row content"> 	
							<div class="col-md-8">
								<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
									<div class="col p-4 d-flex flex-column position-static">
										<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a> </h3>
										<p> {% autoescape off %}{{article.snippet}}{% endautoescape %}  </p>			
										<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
										<div class="u-floatLeft">
											<a href="{% url 'articles:detail' slug=article.slug %}" class="readMoreLink primaryColor metaFont"> Leia mais ></a>
										</div>
									</div>
													
									{% if article.thumb %}
										<div>
											<img class="img-fluid" width="250" height="250" src="{{ article.thumb }}"/>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
						
						{% else %}
						  <p> Nenhuma notícia relacionada a esta região.</p>
						{% endif %}
				    </div>
				    
				    <!-- Sul -->
				    <div id="sul" class="container tab-pane fade"><br>
				    {% if sul %}
				    {% for article in sul %}
						<div class="row content"> 	
							<div class="col-md-8">
								<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
									<div class="col p-4 d-flex flex-column position-static">
										<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a> </h3>
										<p> {% autoescape off %}{{article.snippet}}{% endautoescape %}  </p>			
										<p class="blog-post-meta"> Postado por: {{ article.author.username }} - {{article.date}} </p>
										<div class="u-floatLeft">
											<a href="{% url 'articles:detail' slug=article.slug %}" class="readMoreLink primaryColor metaFont"> Leia mais ></a>
										</div>
									</div>
													
									{% if article.thumb %}
										<div>
											<img class="img-fluid" width="250" height="250" src="{{ article.thumb }}"/>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
						
						{% else %}
						  <p> Nenhuma notícia relacionada a esta região.</p>
						{% endif %}
				    </div>
				    
				    
				  </div>
				</div>
				<!--  
				<div id="teste_site"><h1>Relevâncias: </h1></div>
	
				<canvas id="myChart" width="500" height="1500"></canvas>
				
				<div id="teste_categoria"><h1>Categoria: Osmar Terra </h1></div>
				  
				<canvas id="category_timeline" width="1500" height="500"></canvas>
				
				<canvas id="category_relation" width="200" height="200"></canvas>
				
				<canvas id="category_sites" width="500" height="1500"></canvas>
				
				<div id="teste_site"><h1>Site: www.terra.com.br </h1></div>
				
				<canvas id="category_set" width="200" height="200"></canvas>
				
				
				
				
				<div id="wc"><h1> WordCloud: Osmar Terra </h1></div>
				<canvas id="word_cloud" class="word_cloud" width="600" height="600"></canvas>
				
				-->
				<br>
			</div>
		</div>
	</div>
{% endblock %}